@import "tailwindcss";

@theme {
    --color-primary: #191919;
    --color-secondary: #27292d;
    --color-sub: #ccb587;
    --color-side: #1c1c1e;
}

@layer utilities {
    .hide-number-spin::-webkit-inner-spin-button,
    .hide-number-spin::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .hide-number-spin {
        -moz-appearance: textfield;
    }
}
